@import url("pygments.css");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
}
 
code, code span {
  font-family: monospace;
  font-size: 90%;
}

.date, .download {
  border-radius: 2px;
  color: #00ff00;
  padding: 0.25em;
  background-color: #000000;
  font-size: 90%;
  text-align: center;
}

.date {
  margin-top: -2em;
  margin-left: -3em;
  float: left;
  width: 2em;
}

.dateday {
  font-size: 150%;
}

.dateyear {
  font-size: 75%;
}

.download {
  margin-top: -2em;
  float: right;
  width: 8em;
  transition: .35s ease;
  text-transform: uppercase;
}

.download:hover {
  background-color: #ff6600;
  box-shadow: 0px 0px 8px #ff6600;
}

body {
  background-color: #000000;
}

h1, h2, h3, h4 {
  color: #00FF00;
  font-weight: normal;
}

h2 {
  margin: 1.25em auto 0.25em auto;
}

h3, h4 {
  margin: 2em auto 0.25em auto;
}

hr {
  height: 2px;
  margin: 1em auto 1em auto;
  border: 0px;
}

p, blockquote, table, .highlight {
  margin-top: 0.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

blockquote, .highlight {
  padding: 0.5em;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  border-color: #333333;
  overflow: auto;
}

code, blockquote, .highlight {
  border-radius: 2px;
}

code {
  padding: 0.1em;
}

.highlight code {
  padding: 0em;
}

table {
  border-radius: 2px;
}

td, th {
  padding: 0.5em;
}

.content, th, tr:nth-child(even) {
  background-color: #000000;
}

a:hover, .navbar a:hover, .footer a:hover, tr:hover {
  color: #ffff00;
  text-decoration: none;
  transition: .35s ease;
}

a:hover {
  text-shadow: 0px 0px 8px #ffff00;
}

a, .navbar a, .footer a {
  color: #00ff00;
  text-decoration: none;
}

.page, hr, table, blockquote, code, .highlight {
  background-color: #000000;
}

.page {
  width: 860px;
  margin: 0px auto 16px auto;
  border-radius: 0px;
}

.social {
  min-height: 26px;
  padding-left: 48px;
  padding-top: 4px;
  background-color: #000000;
}

.header {
  height: 56px;
  background-color: #000000;
}

.header a#home {
  line-height: 56px;
  padding-left: 24px;
  padding-right: 12px;
  float: left;
  color: #00ff00;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 0px 48px #00ff00;
}

.header a#home:hover {
  color: #ffff00;
  text-shadow: 0px 0px 48px #ffff00;
}

.navbar {
  list-style-type: none;
  padding-right: 64px;
  float: right;
}

.navbar li {
  float: left;
}

.navbar a {
  padding-right: 8px;
  padding-left: 8px;
  line-height: 56px;
  display: block;
  font-size: 24px;
  font-weight: normal;
}

.content {
  min-height: 320px;
  padding: 16px;
  color: #E0E0E0;
  font-size: 16px;
}

.content ol {
  margin-left: 2em;
}

.content ul {
  margin-left: 2em;
  list-style-type: square;
}

.footer {
  height: 56px;
}

.footer a {
  line-height: 56px;
  display: block;
  font-size: 12px;
  text-align: center;
}

div.image {
    align: center;
    margin: 16px;
    padding: 16px;
}

div.image p {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

/*** emscripten specific ***/
.emscripten {
    padding-right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

textarea.emscripten { 
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    font-size: 75%;
    margin-top: 16px;
    background-color: #333333;
    border-width: 1px;
    border-color: #333333;
    color: #00CC00;
}

div.emscripten { 
    text-align: center; 
}

div.emscripten_border { 
    border: 1px solid black; 
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { 
    border: 0px none; 
    background-color: #333333;
}

/*** NaCl specific ***/
.pnacl_status {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: #00CC00;
}

.pnacl {
    padding-right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

textarea.pnacl { 
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    font-size: 75%;
    margin-top: 16px;
    background-color: #333333;
    border-width: 1px;
    border-color: #333333;
    color: #00CC00;
}

div.pnacl { 
    text-align: center; 
}

div.pnacl_border { 
    border: 1px solid black; 
}
