<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        <title>flohofwoe.com</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all"></link>
        <link rel="alternate" href="/feed/index.xml" type="application/atom+xml" title="Atom Feed">
    </head>
    <body>
        <div class="page">
            <div class="header">
                <a href="index.html" id="home">flohofwoe.net</a>
                <ul class="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="demos.html">Demos</a></li>
                    <li><a href="http://flohofwoe.blogspot.com/" target="_blank">Blog</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="impressum.html">Impressum</a></li>
                </ul>
            </div>

            <div class="content">
                {{ content }}
            </div>

        </div>
    </body>
</html>
