<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        <meta property="fb:admins" content="100001963943692" />
        <title>flohofwoe.net</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all"></link>
        <link rel="alternate" href="/feed/index.xml" type="application/atom+xml" title="Atom Feed">
    </head>
    <body>
        <!-- facebook like button stuff -->
        <div id="fb-root"></div>
        <script type="text/javascript">(function(d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) return;
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                 fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));</script>
        
        <div class="social">
            <!-- twitter: follow -->
            <a href="https://twitter.com/FlohOfWoe" class="twitter-follow-button" data-show-count="false">Follow @FlohOfWoe</a>
            <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <!-- twitter: tweet button -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.flohofwoe.net" data-via="FlohOfWoe">Tweet</a>
            <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <!-- Google +1 -->
            <div class="g-plusone" data-size="medium" data-href="http://www.flohofwoe.net"></div>
            <script type="text/javascript">
                (function() {
                 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                 po.src = 'https://apis.google.com/js/plusone.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                 })();
                </script>
            <!-- Facebook -->
            <div class="fb-like" data-href="http://www.flohofwoe.net" data-send="false" data-layout="button_count" data-width="32" data-show-faces="false" data-font="arial" data-colorscheme="dark" style="vertical-align:top;zoom:1;*display:inline"></div>
        </div>

        <!-- actual page starts here -->
        <div class="page">

            <div class="header">
                <a href="index.html" id="home">flohofwoe.net</a>
                <ul class="navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="demos.html">Demos</a></li>
                    <li><a href="http://flohofwoe.blogspot.com/" target="_blank">Blog</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
            
            <div class="content">
                {{ content }}
            </div>

            <div class="footer">
                <a href="/impressum.html">Impressum</a>
            </div>

        </div>
    </body>
</html>
