<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        <meta property="fb:admins" content="100001963943692" />
        <title>flohofwoe.net</title>
        <link rel="stylesheet" href="../../css/style.css" type="text/css" media="all"></link>
        <link rel="alternate" href="/feed/index.xml" type="application/atom+xml" title="Atom Feed">
    </head>
    <body>
        <!-- catch cursor movements -->
        <script type="text/javascript">
            // suppress cursor keys
            window.addEventListener("keydown", function(e) {
                if ([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
                    e.preventDefault();                    
                }
            }, false);
        </script>

        <!-- actual page starts here -->
        <div class="page">

            <div class="header">
                <a href="/index.html" id="home">flohofwoe.net</a>
                <ul class="navbar">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/demos.html">Demos</a></li>
                    <li><a href="/history.html">8-Bit</a></li>
                    <li><a href="http://flohofwoe.blogspot.com/" target="_blank">Blog</a></li>
                    <li><a href="/about.html">About</a></li>
                </ul>
            </div>
            
            <div class="content">
                {{ content }}
            </div>

            <div class="footer">
                <a href="/impressum.html">Impressum</a>
            </div>

        </div>
    </body>
</html>
